target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Maven ###
log/
*.log

### OS ###
.DS_Store
Thumbs.db

### Project specific ###
DataGenerator/target/
